<?xml version="1.0" encoding="utf-8"?>
<!--
##################################################################################################################
# Simple and Feature Rich Android Apps with useful functions and utilities. Coded with the assistance of DeepSeek
# on Android Studio platform.
#
# Copyright (c) 2025 Bernard Chan
# chanlhock@gmail.com
#
# Date			Author          Notes
# 16/03/2025	Bernard Chan   Initial release
#
# SlapImage is licensed under the GNU General Public License v3.0
# Permissions of this strong copyleft license are conditioned on making
# available complete source code of licensed works and modifications,
# which include larger works using a licensed work, under the same
# license. Copyright and license notices must be preserved. Contributors
# provide an express grant of patent rights.
##################################################################################################################
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
   <!-- package="com.example.slapimage"> -->

    <!-- For Android 12 and below
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
-->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- For Android 13 and above -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Add the new photo picker permission -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <!-- Notification-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- New Calculator -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.termux.permission.RUN_COMMAND"/>
    <!-- BlueGo -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>

    <!-- For location permission needed on some Android versions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30"/>

    <!-- PocketPlan -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    -->

    <uses-feature
        android:required="false"
        android:name="android.hardware.touchscreen">
    </uses-feature>
    <queries>
        <package android:name="com.github.android" />
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
        </intent>
        <intent>
            <action android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEARCH" />
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <!-- android:networkSecurityConfig="@xml/network_security_config" android:vmSafeMode="${appSafeMode}" -->
    <application
        android:name=".musicplayer.ApplicationClass"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:targetApi="35"
        android:usesCleartextTraffic="true"
        tools:ignore="HardwareIds"
        android:largeHeap="true"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true">

        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}" />
        <meta-data
            android:name="slapimage.ADMOB_BANNER_ID"
            android:value="${admobBannerId}" />
        <meta-data
            android:name="slapimage.ADMOB_FULLSCREEN_ID"
            android:value="${admobFullId}" />
        <meta-data
            android:name="slapimage.GOOGLE_DRIVE_KEY"
            android:value="${appGdriveKey}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <!-- MainActivity with android:exported explicitly set -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:exported="false"
            android:launchMode="singleTop"/>

        <!-- Updated Permission for Android 14   -->
        <service
            android:name=".musicplayer.MusicService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false"
            />

        <receiver
            android:name=".musicplayer.NotificationReceiver"
            android:enabled="true" />

        <activity android:name=".gridiconactivity.ComingSoonActivity"
            android:exported="false"
            android:theme="@style/AppThemeActivity"/>
        <activity android:name=".PlaceholderActivity"
            android:exported="false"/>
        <activity android:name=".gridiconactivity.CalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActivity"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:exported="false"/>
        <activity android:name=".gridiconactivity.StockActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/AppThemeActivity"/>
        <activity android:name=".gridiconactivity.CalculatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActivity"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:exported="false"/>
        <activity android:name=".gridiconactivity.GalleryActivity"
            android:exported="false"
            android:theme="@style/AppThemeActivity"/>
        <activity android:name=".gridiconactivity.FolderContentsActivity" />
        <activity android:name=".gridiconactivity.PhotoViewerActivity" />
        <activity
            android:name=".GeminiAIChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".gridiconactivity.MusicPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActivity"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:label="Music Player"
            android:exported="false" />


        <activity
            android:name=".gridiconactivity.GameOfLifeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/AppTheme.GameofLife" />
        <activity
            android:name=".gridiconactivity.SimulationActivity"
            android:theme="@style/AppTheme.GameofLife"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:parentActivityName=".gridiconactivity.GameOfLifeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gridiconactivity.GameOfLifeActivity" />
        </activity>

        <activity
            android:name=".musicplayer.PlayNext"
            android:exported="false" />

        <activity
            android:name=".musicplayer.SettingsActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="uiMode|orientation"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name=".musicplayer.SelectionActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="uiMode|orientation"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name=".musicplayer.PlaylistDetails"
            android:screenOrientation="sensorPortrait"
            android:configChanges="uiMode|orientation"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name=".musicplayer.PlaylistActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="uiMode|orientation"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name=".musicplayer.FavouriteActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="uiMode|orientation"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name=".musicplayer.PlayerActivity"
            android:configChanges="uiMode|orientation"
            android:exported="true"
            android:launchMode="standard"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="audio/*"
                    android:scheme="content" />
            </intent-filter>
        </activity>

        <activity
            android:name=".musicplayer.MainMusicActivity"
            android:configChanges="uiMode|orientation"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:launchMode="standard"
            android:theme="@style/MyToolbarTheme"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
        <activity
            android:name=".tetris.TetrisActivity"
            android:exported="true"
            android:label="@string/tetris"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/Theme.Composetetris.NoActionBar">
        </activity>


        <activity
            android:name=".newcalculator.CalcMainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity android:name=".newcalculator.screens.DataScreen" />

        <activity
            android:name=".tictactoe.content.TicTacToeMainActivity"
            android:configChanges="locale|fontScale|orientation|screenSize|keyboardHidden|keyboard|locale|screenLayout|screenSize|layoutDirection"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".mp3tagger.MP3TaggerMainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/AppThemeActivity">
        </activity>
        <activity
            android:name=".solitaire_cg.SolitaireCG"
            android:exported="true"
            android:theme="@style/android:Theme.Material"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity android:name=".solitaire_cg.Help"
            android:theme="@style/android:Theme.Material"/>

    <activity
        android:name=".textpad.activities.EditorActivity"
        android:launchMode="singleTop"
        android:configChanges="locale"
        android:theme="@style/TextPadAppTheme"
        android:exported="true" >
        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
        </intent-filter>

        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <action android:name="android.intent.action.EDIT" />
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="content" />
            <data android:mimeType="text/*" />
        </intent-filter>

        <meta-data android:name="android.app.searchable"
            android:resource="@xml/searchable"
            android:exported="false" />

    </activity>
    <activity
        android:name=".textpad.FileDialog"
        android:configChanges="locale" >
    </activity>
    <activity
        android:name=".textpad.activities.SettingsActivity"
        android:label="@string/app_name_settings"
        android:theme="@style/TextPadAppTheme"
        android:configChanges="locale" >
    </activity>
    <provider
        android:name=".textpad.SearchSuggestions"
        android:authorities="com.example.slapimage.authority"
        android:exported="false" />

        <activity
            android:name=".mbcompass.MBCompassMainActivity"
            android:exported="true"
            android:theme="@style/Theme.MBCompass">
        </activity>

        <activity
            android:name=".WallpaperSetterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/AppThemeActivity">
        </activity>

        <activity
            android:name=".xededitor.xededitor.MainActivity.XEDMainActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:inputType="textFilter"
            android:launchMode="singleTask"
            android:persistableMode="persistAcrossReboots"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Karbon">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <service android:name=".xededitor.xededitor.service.SessionService" />

<!--
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
-->
        <activity
            android:name=".xededitor.crashhandler.CrashActivity"
            android:exported="false" />

        <activity
            android:name=".xededitor.xededitor.ui.activities.settings.SettingsActivity"
            android:exported="false" />

        <activity android:name=".xededitor.runner.runners.web.markdown.MDViewer"
            android:exported="false"/>
        <activity android:name=".xededitor.runner.runners.web.WebActivity"
            android:exported="false" />

        <activity
            android:name=".xededitor.xededitor.ui.activities.terminal.Terminal"
            android:exported="true"
            android:label="Terminal"
            android:windowSoftInputMode="adjustResize" />

        <!-- Librera -->

        <activity
            android:name=".ibook.foobnix.zipmanager.SendReceiveActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ibook.foobnix.zipmanager.SendReceiveActivityAlias"
            android:exported="true"
            android:targetActivity=".ibook.foobnix.zipmanager.SendReceiveActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ibook.foobnix.OpenerActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />

                <data android:mimeType="application/x-fictionbook+xml" />
                <data android:mimeType="application/x-fictionbook" />
                <data android:mimeType="application/x-fb2" />
                <data android:mimeType="application/x-zip-compressed-fb2" />
                <data android:mimeType="application/fb2+zip" />
                <data android:mimeType="application/fb2.zip" />
                <data android:mimeType="application/fb2" />
                <data android:mimeType="application/epub" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/mobi" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/x-mobipocket-ebook" />
                <data android:mimeType="application/x-palm-database" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="application/comicbook+zip" />
                <data android:mimeType="application/x-cbr" />
                <data android:mimeType="application/comicbook+rar" />
                <data android:mimeType="application/rtf" />
                <data android:mimeType="application/x-rtf" />
                <data android:mimeType="application/azw" />
                <data android:mimeType="application/azw3" />
                <data android:mimeType="application/x-mobi8-ebook" />
                <data android:mimeType="application/x-kindle-application" />
                <data android:mimeType="application/x-mimearchive" />
                <data android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/vnd.ms-xpsdocument" />
                <data android:mimeType="application/oxps" />

                <data android:mimeType="text/rtf" />
                <data android:mimeType="text/richtext" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/x-log" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />

                <data android:mimeType="multipart/related" />
                <data android:mimeType="message/rfc822" />

                <data android:mimeType="image/djvu" />
                <data android:mimeType="image/vnd.djvu" />
                <data android:mimeType="image/x-djvu" />
                <data android:mimeType="image/x.djvu" />
                <data android:mimeType="image/tiff" />


                <data android:mimeType="application/x-compressed" />
                <data android:mimeType="application/x-compressed-zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />


                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.log" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\fb2.zip" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.djvu" />
                <data android:pathPattern=".*\\.rtf" />
                <data android:pathPattern=".*\\.html" />
                <data android:pathPattern=".*\\.htm" />
                <data android:pathPattern=".*\\.mht" />
                <data android:pathPattern=".*\\.mhtml" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.azw" />
                <data android:pathPattern=".*\\.azw3" />
                <data android:pathPattern=".*\\.azw4" />
                <data android:pathPattern=".*\\.prc" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.tiff" />
                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\.docx" />
                <data android:pathPattern=".*\\.doc" />
                <data android:pathPattern=".*\\.xps" />
                <data android:pathPattern=".*\\.zip" />
                <data android:pathPattern=".*\\.md" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW_" />
                <category android:name="android.intent.category.DEFAULT_" />
                <category android:name="android.intent.category.BROWSABLE_" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>


        <activity
            android:name=".ibook.foobnix.pdf.search.activity.HorizontalViewActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="org.ebookdroid.ui.viewer.VerticalViewActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <service
            android:name=".ibook.foobnix.tts.TTSService"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>

        </service>

        <receiver android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:exported="true"
            android:name=".ibook.foobnix.tts.TTSActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <activity
            android:exported="true"
            android:name=".ibook.foobnix.ui2.CloudrailActivity"
            android:launchMode="singleTask"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}" />
                <data android:scheme="librera" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ibook.foobnix.ui2.MainTabs2"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH1" />
                <category android:name="android.intent.category.DEFAULT1" />
            </intent-filter>

        </activity>
<!--
      //  <receiver
      //      android:name=".widget.TTSWidget"
      //      android:exported="false"
      //      android:label="${appName}">
      //      <intent-filter>
      //          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      //      </intent-filter>
      //      <meta-data
      //          android:name="android.appwidget.provider"
      //          android:resource="@xml/tts_view_provider_3x1" />
      //  </receiver>

        //<receiver
        //    android:name=".widget.RecentBooksWidget"
       //     android:exported="false"
       //     android:label="${appName}">
       //     <intent-filter>
       //         <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
       //     </intent-filter>
        //    <meta-data
        //        android:name="android.appwidget.provider"
        //        android:resource="@xml/recent_images_provider_3x1" />
       // </receiver>

       // <service
       //     android:name=".widget.StackGridWidgetService"
       //     android:exported="false"
       //     android:permission="android.permission.BIND_REMOTEVIEWS" />
-->
        <activity android:name=".droidzebra.DroidZebra"
            android:allowBackup="true"
            android:label="@string/zebra_app_name"
            android:icon="@drawable/icon23"
            android:theme="@style/CustomActionBarTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:multiprocess="false"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".droidzebra.SettingsPreferences"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:label="@string/zebra_app_name"
            android:icon="@drawable/icon23"
            android:theme="@style/CustomActionBarTheme"
            android:screenOrientation="portrait"
            android:multiprocess="false"
            android:launchMode="standard"
            android:stateNotNeeded="true"
            android:noHistory="false"
            android:allowTaskReparenting="false">
        </activity>


        <!-- Sudoku  -->
        <activity
            android:name=".privacyfriendlysudoku.ui.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
        </activity>
        <activity
            android:name=".privacyfriendlysudoku.ui.SudokuMainActivity"
            android:label="@string/sudoku_app_name"
            android:theme="@style/Sudoku_AppTheme.NoActionBar" />
        <activity
            android:name=".privacyfriendlysudoku.ui.TutorialActivity"
            android:label="@string/sudoku_app_name"
            android:theme="@style/Sudoku_AppTheme.NoActionBar" />
        <activity
            android:name=".privacyfriendlysudoku.ui.DailySudokuActivity"
            android:label="@string/Sudoku"
            android:theme="@style/Sudoku_AppTheme.NoActionBar" />
        <activity
            android:name=".privacyfriendlysudoku.ui.CreateSudokuActivity"
            android:label="@string/Sudoku"
            android:theme="@style/Sudoku_AppTheme.NoActionBar" />
        <activity
            android:name=".privacyfriendlysudoku.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".privacyfriendlysudoku.ui.SudokuMainActivity"
            android:theme="@style/Sudoku_AppTheme"/>
        <activity
            android:name=".privacyfriendlysudoku.ui.GameActivity"
            android:label="@string/title_activity_game_view"
            android:launchMode="singleTask"
            android:theme="@style/Sudoku_AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sudoku" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="sudoku.secuso.org"
                    android:scheme="http" />
                <data
                    android:host="sudoku.secuso.org"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".privacyfriendlysudoku.ui.LoadGameActivity"
            android:theme="@style/Sudoku_AppTheme"/>
        <activity
            android:name=".privacyfriendlysudoku.ui.StatsActivity"
            android:theme="@style/Sudoku_AppTheme.NoActionBar" />
        <activity
            android:name=".privacyfriendlysudoku.ui.HelpActivity"
            android:theme="@style/Sudoku_AppTheme"
            android:label="@string/title_activity_help" />
        <service
            android:name=".privacyfriendlysudoku.controller.GeneratorService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="This service generates sudoku levels in the background. The generation is done randomly and may end up taking a long time to generate the wished difficulty."
                />
        </service>

        <!-- Forz Calculator -->
        <service
            android:name=".forz.calculator.MyQSTileService"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@drawable/tile_icon"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".forz.calculator.LicensesActivity"
            android:exported="false" />

        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <activity
            android:name=".forz.calculator.CalcxMainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".forz.calculator.settings.SettingsActivity"
            android:exported="false" />

        <!-- PocketPlan -->
        <activity
            android:name=".pocket_plan.j7_003.PocketPlanMainActivity"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/AppThemeDark"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".pocket_plan.j7_003.system_interaction.handler.share.BackUpActivity"
            android:parentActivityName=".pocket_plan.j7_003.PocketPlanMainActivity"/>


        <receiver android:name=".pocket_plan.j7_003.system_interaction.receiver.RebootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".pocket_plan.j7_003.system_interaction.receiver.NotificationReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Word of the Day -->
        <activity android:name=".wordoftheday_en.WordHistoryActivity"
            android:theme="@style/Theme.WordOfTheDay"/>
        <activity
            android:name=".wordoftheday_en.WodMainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:usesCleartextTraffic="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WordOfTheDay"/>

    </application>
</manifest>